@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 80px;
  letter-spacing: 4px;
  font-weight: 700;
}

.text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  align-items: flex-start;
  list-style: none;
  gap: 26px;
  overflow-wrap: break-word;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }
  .text h2 {
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 600;
  }
  .text p {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .links {
    flex-direction: column;
    align-items: flex-start;
    word-break: break-word;
  }
  .link a {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 425px) {
  .link a {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
  }
}
